.open > .dropdown-menu {
  display: block;
  width: 100%;
  text-align: center;
}
.btn-group,
.btn:first-child {
  width: 100%;
}
.features {
  align-items: center;
  text-align: center;
  color: white;
  padding: 10px;
  line-height: 3rem;
  padding: 0 5rem;
}
.featureOnebyOne {
  background-color: black;
}
.features ul {
  list-style-type: none;
}
.features a {
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.btn-group > .btn-group {
  float: left;
  padding: 6px;
}
.mainContentHeading {
  background-color: aqua;
}
